.chamados-table {

  width: 90vw;

  border-collapse: collapse;
  margin: 0;
}

.pagination{
  text-align: right;
}

.chamados-table th,
.chamados-table td {
  padding: 40px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.chamados-table th {
  background-color: #f2f2f21e;
}


.namePage{
  padding: 10px;
}

.chamados-table td button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chamados-table td button:hover {
  background-color: #0056b3;
}

.table-wrapper {
  overflow: auto;
  max-height: 800px; /* ou qualquer outra altura desejada */
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #00000000; 
}

.table-wrapper {
  overflow: auto;
  max-height: 300px; /* ou qualquer outra altura desejada */
  position: relative; /* Garante que o posicionamento do cabeçalho seja relativo a este elemento */
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #fff; /* cor de fundo opcional para destacar o cabeçalho */
  z-index: 1; /* Garante que o cabeçalho fique sobre o conteúdo da tabela */
}

.table-body {
  overflow-y: auto;
  max-height: 280px; /* ou a altura desejada, subtraindo o espaço ocupado pelo cabeçalho da tabela */
  position: relative; /* Garante que o posicionamento do conteúdo seja relativo a este elemento */
}